# cache/  # do not include submodule cache in .gitignore
collections/
roles/
!**.gitkeep

# OS Junk
._*
.DS_Store
.Spotlight-V100
.Trashes
.vscode
Desktop.ini
Thumbs.db
settings.json

# python
*.pyc
.pytest_cache

# vagrant
*.profraw
*.vagrant
Vagrantfile
