# cache/  # do not include submodule cache in .gitignore
!**.gitkeep

# OS Junk
._*
.DS_Store
.Spotlight-V100
.Trashes
.vscode
Desktop.ini
Thumbs.db
settings.json

# python
*.pyc
.pytest_cache

# vagrant
*.vagrant
Vagrantfile